PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:CHANGE_ME@host:port/railway

BANK1_BIC=BYBBBEBB
BANK1_NAME=Bank Yvonne (team 18)
BANK1_SECRET=CHANGE_ME

BANK2_BIC=GOCFBEB2
BANK2_NAME=Bank Odisee (team 18)
BANK2_SECRET=CHANGE_ME

CB_BASE_URL=https://stevenop.be/pingfin/api/v2

ADMIN_TOKENS=team18secret

AUTO_REGISTER=true
TEAM_MEMBERS=Bekoume Victor-yann, Bora Mesut, Tchang Danick, Cordier Saartje
